<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminLoginServlet</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>za.ac.tut.web.VehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToAppointmentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddToAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>za.ac.tut.web.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ModifyEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllEmployeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAllEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>car_washer_username</param-name>
            <param-value>wash</param-value>
        </init-param>
        <init-param>
            <param-name>car_washer_password</param-name>
            <param-value>wash</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SeviceSelectionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SeviceSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoosePaymentMethodServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ChoosePaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppointmentsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignAppoimentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AssignAppoimentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAssignmentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ConfirmAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSession</servlet-name>
        <servlet-class>za.ac.tut.web.EndSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerFeedbacks</servlet-name>
        <servlet-class>za.ac.tut.web.ViewCustomerFeedbacks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWasherAppointmentsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewWasherAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarWasherMenuServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CarWasherMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmailServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmWashServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ConfirmWashServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountDetailsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAccountDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveToFile</servlet-name>
        <servlet-class>za.ac.tut.web.SaveToFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEmployeesDetailsFile</servlet-name>
        <servlet-class>za.ac.tut.web.SaveEmployeesDetailsFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAppointmentsToFile</servlet-name>
        <servlet-class>za.ac.tut.web.SaveAppointmentsToFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllCustomers</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAllCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenderChoiceServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GenderChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFemaleCustomerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewFemaleCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMaleCustomerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewMaleCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWasherEmployeesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewWasherEmployeesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFemaleCustomersSummaryToFile</servlet-name>
        <servlet-class>za.ac.tut.web.SaveFemaleCustomersSummaryToFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMaleCustomersSummaryToFile</servlet-name>
        <servlet-class>za.ac.tut.web.SaveMaleCustomersSummaryToFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCarWasherEmployeesDetailsFile</servlet-name>
        <servlet-class>za.ac.tut.web.SaveCarWasherEmployeesDetailsFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCustomerByGender</servlet-name>
        <servlet-class>za.ac.tut.web.SaveCustomerByGender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/CustomerLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/VehicleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarServlet</servlet-name>
        <url-pattern>/CarServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToAppointmentServlet</servlet-name>
        <url-pattern>/AddToAppointmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyEmployeeServlet</servlet-name>
        <url-pattern>/ModifyEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEmployeeServlet</servlet-name>
        <url-pattern>/RemoveEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeeServlet</servlet-name>
        <url-pattern>/GetEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllEmployeeServlet</servlet-name>
        <url-pattern>/GetAllEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeviceSelectionServlet</servlet-name>
        <url-pattern>/SeviceSelectionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoosePaymentMethodServlet</servlet-name>
        <url-pattern>/ChoosePaymentMethodServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppointmentsServlet</servlet-name>
        <url-pattern>/ViewAppointmentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignAppoimentServlet</servlet-name>
        <url-pattern>/AssignAppoimentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAssignmentServlet</servlet-name>
        <url-pattern>/ConfirmAssignmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSession</servlet-name>
        <url-pattern>/EndSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerFeedbacks</servlet-name>
        <url-pattern>/ViewCustomerFeedbacks.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWasherAppointmentsServlet</servlet-name>
        <url-pattern>/ViewWasherAppointmentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarWasherMenuServlet</servlet-name>
        <url-pattern>/CarWasherMenuServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmailServlet</servlet-name>
        <url-pattern>/UpdateEmailServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmWashServlet</servlet-name>
        <url-pattern>/ConfirmWashServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountDetailsServlet</servlet-name>
        <url-pattern>/ViewAccountDetailsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveToFile</servlet-name>
        <url-pattern>/SaveToFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEmployeesDetailsFile</servlet-name>
        <url-pattern>/SaveEmployeesDetailsFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAppointmentsToFile</servlet-name>
        <url-pattern>/SaveAppointmentsToFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllCustomers</servlet-name>
        <url-pattern>/ViewAllCustomers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenderChoiceServlet</servlet-name>
        <url-pattern>/GenderChoiceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFemaleCustomerServlet</servlet-name>
        <url-pattern>/ViewFemaleCustomerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMaleCustomerServlet</servlet-name>
        <url-pattern>/ViewMaleCustomerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWasherEmployeesServlet</servlet-name>
        <url-pattern>/ViewWasherEmployeesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFemaleCustomersSummaryToFile</servlet-name>
        <url-pattern>/SaveFemaleCustomersSummaryToFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMaleCustomersSummaryToFile</servlet-name>
        <url-pattern>/SaveMaleCustomersSummaryToFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCarWasherEmployeesDetailsFile</servlet-name>
        <url-pattern>/SaveCarWasherEmployeesDetailsFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCustomerByGender</servlet-name>
        <url-pattern>/SaveCustomerByGender.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>za.ac.tut.exception.InvalidEmailException</exception-type>
        <location>/invalid_email.jsp</location>
    </error-page>
    <error-page>
        <exception-type>za.ac.tut.exception.EmptySignInFieldsException</exception-type>
        <location>/empty_sign_in_fields.jsp</location>
    </error-page>
    <error-page>
        <exception-type>za.ac.tut.exception.BlankCarDetailsException</exception-type>
        <location>/blank_car_details_fields.jsp</location>
    </error-page>
    <error-page>
        <exception-type>za.ac.tut.exception.InvalidPhoneNumberException</exception-type>
        <location>/invalid_phone_numnber.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/file_not_found.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/file_not_found.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/internal_server_error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>za.ac.tut.exception.UserDoNotExistException</exception-type>
        <location>/user_dont_exist.jsp</location>
    </error-page>
    <error-page>
        <exception-type>za.ac.tut.exception.UserAlreadyExistException</exception-type>
        <location>/user_exist.jsp</location>
    </error-page>
</web-app>
